html, body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f6ffd4;
    color: #032e10;
    user-select: none;
}

.container {
    background-color: #f6ffd4;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    padding: 0px 15px;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #032e10;
    background-color: #cfffc0;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #03ac3b;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #144D10;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #f8fff9;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #d7ffc7;
    cursor: pointer;
}